server:
  port: 8080
  tomcat:
    threads:
      max: 200
      min-spare: 10

spring:
  application:
    name: mvc-benchmark

  datasource:
    url: jdbc:h2:mem:benchmarkdb;DB_CLOSE_DELAY=-1
    driver-class-name: org.h2.Driver
    username: sa
    password:
    hikari:
      maximum-pool-size: 50
      minimum-idle: 10

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: false

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    health:
      show-details: always
  metrics:
    tags:
      application: ${spring.application.name}
    distribution:
      percentiles-histogram:
        http.server.requests: true
      percentiles:
        http.server.requests: 0.5, 0.9, 0.95, 0.99

logging:
  level:
    root: INFO
    com.benchmark: DEBUG

benchmark:
  server-type: MVC-Tomcat